# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.bin
*.bin
.gradle/5.0/fileHashes/fileHashes.bin
.gradle/5.0/fileHashes/fileHashes.lock
.gradle/5.0/javaCompile/classAnalysis.bin
.gradle/5.0/javaCompile/javaCompile.lock
.gradle/5.0/taskHistory/taskHistory.bin
.gradle/5.0/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/tmp/bootJar/MANIFEST.MF
*.MF
*.prefs
*.bin
*.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.gradle/5.0/gc.properties
